<!DOCTYPE html>
<html lang="en">
    <head>
      <title><%= title %></title>
    </head>
    <body>
      <h1>Welcome to the API.</h1>
      <div id="container.col">
        <p>API is running on <a href="<%= url %>" target="_blank" title="<%= url %>"><%= url %></a></p>
      </div>
    </body>
</html>